// COLORS

// WIDTHS

// FONTS
$font-size-xxs-responsive: min(calc(0.1rem + 1vw), 0.65rem);
$font-size-xs-responsive: min(calc(0.15rem + 1vw), 0.75rem);
$font-size-small-responsive: min(calc(0.2rem + 1.1vw), 0.8rem);
$font-size-medium-low-responsive: min(calc(0.2rem + 1.25vw), 0.85rem);
$font-size-medium-lower-responsive: min(calc(0.23rem + 1.11vw), 0.85rem);
$font-size-medium-responsive: min(calc(0.25rem + 1vw), 1rem);
$font-size-normal-responsive: min(calc(0.5rem + 1vw), 1rem);
$font-size-large-responsive: min(calc(0.5rem + 1vw), 1.25rem);
$font-size-normal-large-responsive: min(calc(0.5rem + 1vw), 1.125rem);
$font-size-xl-responsive: min(calc(0.75rem + 1vw), 1.5rem);
$font-size-xxl-responsive: min(calc(1rem + 1vw), 2rem);
$font-size-xxl-responsive: min(calc(1.1rem + 1vw), 2.25rem);
$font-size-xxxl-responsive: min(calc(1.2rem + 1.1vw), 2.5rem);

// FONT TYPES
